.inpuerInnerText::placeholder {
    font: normal normal 600 15px/21px Source Serif Pro;
    color: #000;
}

.inpuerInnerText {
    width: 211px;
    height: 30px;
    border: 1px solid #E9EDF2;
    padding-left: 10px;
    font: normal normal 600 15px/21px Source Serif Pro;
}

.inpuerInnerText:focus {
    outline: #E9EDF2;
}

.createnewText {
    background: #5EE2A050;
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
}

.createnewText:hover {
    background: #5EE2A050;
}

.createnewText p {
    color: #0B5345;
    font: normal normal 600 15px/21px Source Serif Pro;
}