.emailName {
    margin-left: 10px;
    width: 99px;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    text-overflow: ellipsis;
    font-family: Source Serif Pro;
    justify-content: center;
}

.folderTitle {
    margin-left: 10px;
    width: 99px;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    text-overflow: ellipsis;
    font-family: Source Serif Pro;
    justify-content: center;
}

.settingIcon {
    cursor: pointer;
    width: 11px;
    margin-left: 32px;
}

.upIcon {
    cursor: pointer;
    width: 25px;
    margin-left: 10px;
}

.folderDropdownIcon {
    cursor: pointer;
    width: 25px;
    margin-left: 42px;
}

.itemName {
    font-size: 18px;
    margin-left: 12px;
    justify-content: center;
    opacity: 0.7;
}

.dropdownMain {
    cursor: pointer;
    flex-direction: row;
    border-radius: 5px;
}

.folderMain {
    cursor: pointer;
    flex-direction: row;
    border-radius: 5px;
}

.dropdownMain:hover {
    background-color: #afb4e7;
}

.dropdown {
    margin-top: 40px;
    position: absolute;
    z-index: 2;
    background-color: #E9EDF2;
    width: 93%;
}

.mailDropdownItem:hover {
    background-color: #afb4e7;
    border-radius: 5px;
    cursor: pointer;
}

.folderDropdownMain {
    height: 115px;
    overflow-y: scroll;
    margin-top: 20px;
}

.folderItemName {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    text-overflow: ellipsis;
    justify-content: center;
    height: 25px;
    opacity: 0.7;
}

.createFolderModal {
    position: absolute;
    z-index: 3;
    width: 285px;
    height: 85px;
    background: #FFFFFF;
    bottom: 0;
    left: 230px;
    border-radius: 5px;
}

.folderName {
    flex-direction: row;
    gap: 12px;
    cursor: pointer;
}
