.connectAccount {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
