.mainContainer {
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    width: 335px;
    height: 625px;
    border-radius: 5px;
    margin-left: 20px;
    padding: 0px 20px;
}

.subContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.profile {
    width: 47px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E9EDF2;
    border-radius: 50%;
}

.documentname {
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    width: 252px;
    justify-content: center;
    height: 30px;
    padding: 0px 10px;
    margin-left: 10px;
}

.documenttext {
    font: normal normal normal 11px/15px Source Serif Pro;
}

.buttonImg {
    padding: 0px;
    padding-left: 19px;
    min-width: 25px;
}

.creatorname {
    width: 272px;
    height: 30px;
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    margin-top: 10px;
    justify-content: center;
    padding: 0px 10px;
}

.creatortext {
    font: normal normal normal 11px/15px Source Serif Pro;
    color: #000;
    font-weight: 600;
}

.analutictext {
    font: normal normal 600 18px/25px Source Serif Pro;
    margin-top: 20px;
}

.boxbottom {
    margin-bottom: 20px;
}

.boxflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.iconbutton {
    min-width: 25px;
    padding: 0;
}

.textFont {
    font: normal normal normal 11px/15px Source Serif Pro;
    margin-left: 10px;
}

.datetext {
    font: normal normal normal 11px/15px Source Serif Pro;
}

.timetext {
    font: normal normal normal 11px/15px Source Serif Pro;
    margin-left: 20px;
}

.subboxflex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.advanceflex {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.advancedtext {
    white-space: nowrap;
    font: normal normal 600 18px/25px Source Serif Pro;
}

.createText {
    font: normal normal normal 13px/17px Source Serif Pro;
    color: #000 !important;
    margin-left: 12px;
    white-space: nowrap;
}

.addIcon {
    width: 21px;
    height: 21px;
}

.bottomBtnFlex {
    display: flex;
    flex-direction: row;
}

.linktext {
    font: normal normal 600 15px/21px Source Serif Pro;
    margin-top: 13px;
}

.inputtext {
    font: normal normal 600 15px/21px Source Serif Pro;
    border: none;
    width: 157px;
}

.inputtext:focus-visible {
    outline: none;
}

.inputtext::placeholder {
    color: #000;
}

.inputmain {
    width: 321px;
    height: 40px;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    margin-right: 20px;
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    margin-top: 20px;
    align-items: center;
}

.buttonflex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.viewbutton {
    background-color: #5EE2A050;
    width: 75px;
    height: 25px;
}

.viewbutton:hover {
    background-color: #5EE2A050;
}

.viewbutton p {
    color: #000;
    font: normal normal 600 15px/21px Source Serif Pro;
}

.deletbutton p {
    font: normal normal 600 15px/21px Source Serif Pro;
    color: #00000070;
    font-weight: 700;
    padding-left: 12.6px;
}

.deletbutton img {
    width: 20px;
    height: 20px;
}

.deleteBox {
    display: flex;
    flex-direction: row;
}

.boxscroll {
    height: 170px;
    overflow-y: scroll;
}