.drawer_container {
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    width: 300px;
    padding: 15px 0;
}

.drawer_bottom_open {
    padding: 0 15px;
}
.drawer_bottom_close{
    padding: 0 7px;
}

.main_accodian {
    margin: 7px 15px;
}

.userBtn {
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), inset 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    width: 40px;
    height: 40px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.drawerButton {
    box-shadow: unset !important;
    background-color: transparent !important;
}

.subDrawerButton {
    box-shadow: unset !important;
    justify-content: space-between;
    background-color: transparent !important;
    padding-right: 2px !important;
}

.subDrawerButton:hover {
    background-color: transparent !important;
}

.drawerIcon {
    width: 25px;
    height: 25px;
}

.drawerListText {
    font-family: Inter, sans-serif !important;
    font-size: 18px !important;
    font-weight: 300 !important;
    line-height: 25px !important;
    white-space: nowrap !important;
    padding: 0;
    margin: 0;
    color: black;
    white-space: nowrap;
}

.accodian_summary {
    height: 5px;
    border: none;
    min-height: 30px;
}

.accodian_summary:hover {
    border-radius: 5px;
}

.accodian_summary:focus {
    border-radius: 5px;
}

.subRout_listItem {
    padding: 5px 0 !important;
    margin-top: 15px;
    height: 30px;
}

.subRout_accodianDetails {
    padding: 0 0 0;
}

.accodian_list {
    display: flex;
    height: 90vh;
    flex-direction: column;
    overflow-y: scroll;
}

.upgradeBtn {
    background-color: #5ee2a042;
    justify-content: center;
    height: 30px;
    width: 85px;
    align-items: center;
    border-radius: 5px;
}
