.boxIcon {
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    border-radius: 5px;
}
