.screen1{
    width: 225px;
    height: 125px;
    background: #BABABA 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    border: 1px solid #BABABA;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.screen2{
    width: 225px;
    height: 125px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.userIcon{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Source Serif Pro, Bold, serif;
}
