.accodianShow {
    display: contents;
}

.accodianHide {
    visibility: hidden;
}

.inputContainer {
    width: 100%;
    position: absolute;
}

.inputContainer {
    width: 100%;
    position: absolute;
}